/* Home.css */
.home-container {
    /* Set the background image */
    background-image: url('../assets/images/financialim.jpeg'); /* Update the path as needed */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the image */
    background-attachment: fixed; /* Fixed background */
    min-height: 100vh; /* Minimum height to fill the screen */
    color: white;
  }
  
  /* Use a pseudo-element to add a white overlay with reduced opacity */
  .home-container::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.5); /* Adjust opacity to lighten the image */
    z-index: -1; /* Ensure the overlay is behind the content */
  }
  
  /* Additional styles for content inside your home container */
  .home-content {
    position: relative; /* To position it above the pseudo-element */
    z-index: 1; /* Higher than the pseudo-element */
    /* Add padding, margins, and other styles as needed */
  }

  
.custom-translucent-bg {
    background: rgba(0, 0, 0, 0.5); /* This is a black background with 50% opacity */
}
  
  
  
/* Example style for rounded corners of elements */
.rounded-custom {
    border-radius: 20px; /* Adjust as needed */
}
  